$imgSize: 150px;
$imgHeight: 50vh;
$imgTop: 15%;

.left {
  background: url("../../assets/img/leftgray.png") no-repeat;
  background-size: $imgSize;
  height: $imgHeight;
  margin-top: $imgTop;
  background-position: left;
}
.left:active {
  background: url("../../assets/img/left.png") no-repeat;
  background-size: $imgSize;
  background-position: left;
}
.right {
  background: url("../../assets/img/rightgray.png") no-repeat;
  background-size: $imgSize;
  height: $imgHeight;
  margin-top: $imgTop;
  background-position: right;
}
.right:active {
  background: url("../../assets/img/right.png") no-repeat;
  background-size: $imgSize;
  background-position: right;
}

.number {
  margin-bottom: 45%;
  margin-top: 35%;
  .numberCent {
    font-size: 300px;
    text-align: center;
  }
}
.negative {
  color: red;
}
.hover:hover {
  cursor: pointer;
}
@media (max-width: 600px) {
  .number {
    margin-top: 100%;
    .numberCent {
      font-size: 120px;
      text-align: center;
    }
  }
}
