$imgSize: 150px;
$imgSmallSize: 100px;
$imgBigWidth: 160px;
$imgSmallWidth: 100px;
$imgTop: 20%;
$imgSmallTop: 50%;

.left {
  height: $imgSize;
  margin-top: $imgTop;
  img {
    float: right;
  }
}
img {
  width: $imgBigWidth;
}
.middle {
  margin-top: 5%;
  text-align: center;
}
.right {
  height: $imgSize;
  margin-top: $imgTop;
}

.number {
  .numberCent {
    font-size: 300px;
    text-align: center;
  }
}
.negative {
  color: red;
}
.hover:hover {
  cursor: pointer;
}
@media (max-width: 500px) {
  .number {
    .numberCent {
      font-size: 120px;
      text-align: center;
    }
  }
  .left {
    height: $imgSize;
    margin-top: $imgSmallTop;
  }
  .middle {
    // height: $imgSmallSize;
    margin-top: $imgSmallTop;
    text-align: center;
  }
  img {
    width: $imgSmallWidth;
    margin-top: 40%;
  }
  .right {
    height: $imgSmallSize;
    margin-top: $imgSmallTop;
  }
}
