$imgSize: 150px;
$imgSmallSize: 100px;
$imgBigWidth: 160px;
$imgSmallWidth: 100px;
$imgTop: 20%;
$imgSmallTop: 50%;

body {
  background-color: #EFEFEF;
}
.left {
  height: $imgSize;
  margin-top: $imgTop;
  img {
    float: right;
  }
}
img {
  width: $imgBigWidth;
}
.middle {
  margin-top: 5%;
  text-align: center;
}
.right {
  height: $imgSize;
  margin-top: $imgTop;
}

.number {
  .numberCent {
    font-size: 300px;
    text-align: center;
  }
}
.negative {
  color: red;
}
.hover:hover {
  cursor: pointer;
}
@media (max-width: 1000px) {
  .number {
    .numberCent {
      margin-top: 5%;
      font-size: 200px;
      text-align: center;
    }
  }
}
@media (max-width: 700px) {
  .number {
    .numberCent {
      font-size: 160px;
      text-align: center;
    }
  }
}
@media (max-width: 500px) {
  .number {
    .numberCent {
      font-size: 110px;
      text-align: center;
    }
  }
  .left {
    height: $imgSize;
    margin-top: $imgSmallTop;
  }
  .middle {
    margin-top: $imgSmallTop;
    text-align: center;
  }
  img {
    width: $imgSmallWidth;
    margin-top: $imgSmallTop;
  }
  .right {
    height: $imgSmallSize;
    margin-top: $imgSmallTop;
  }
}
